body {
  margin: 0;
}

.hello {
  display: inline-block;
  background-color: pink;
  padding: 12px;
  border-radius: 12px;
}

.name {
  display: inline-block;
  background-color: aqua;
  padding: 12px;
  border-radius: 12px;
  margin-left: 12px;
}

.favorite {
  display: inline-block;
  background-color: deeppink;
  padding: 12px;
  border-radius: 12px;
  margin-left: 12px;
}
